---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-[26px] md:text-[22px] font-bold whitespace-nowrap"
  style="color: #FFFFFF !important;"
>
  {SITE?.name}
</span>
